.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-container {
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button,
.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d32f2f;
  color: #fff;
  cursor: pointer;
}

.h1 {
  color: black;
}