.star-rating.large .star {
  font-size: 2rem;
}

.star-rating.small .star {
  font-size: 1rem;
}

.star-rating {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
}

.star-rating input {
  display: none;
}

.star {
  cursor: pointer;
  color: #ddd;
}

.star.filled {
  color: #ffd700;
}
